[submodule "projects/Network-Canvas"]
	path = projects/Network-Canvas
	url = https://github.com/complexdatacollective/Network-Canvas.git
[submodule "Server"]
	path = projects/Server
	url = https://github.com/complexdatacollective/Server.git
[submodule "Architect"]
	path = projects/Architect
	url = https://github.com/complexdatacollective/Architect.git
